
        /* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */


        body{
            background-color: #ffffff;
        }

        .container-fluid{
            color: #FFFFFF;
            padding: 10px;
            font-family: 'Playfair Display', serif;

        }

        a {
            padding-top: 10px;
        }

        h3{
            color: #000000;
            font-family: 'Playfair Display', serif;
            font-weight: bold;
        }

        h5{
           font-family: 'Playfair Display', serif;
           font-weight: bold;
        }

        .container{
            padding: 10px;
            color: #000000;
        }

        li{
            font-family: 'Playfair Display', serif;
        }

        p{
          font-family: 'Playfair Display', serif;
        }

        .card {
            color: black;
            text-align: left;
            box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            margin-top: 20px;
        }
        
        .card-title {
            font-weight: 700;
        }
        #logo, .project-img {
            max-height: 300px;
        }

        #home {
            padding-top: 60px;
        }

        h3 {
            text-align: center;
            padding-top: 100px;
        }

        .container2 {
            display: grid;
            align-items: center; 
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 5px;
           }
           
           .bg-4 {
            background-color: #000000;
            color: #ffffff;
        }
          
          .text {
            font-size: 20px;
          }

          .active {
            line-height: 2em;
            padding-left:3px;
        }
 
        .image {
            position: absolute;
        }

        